<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Required for YouTube player (webview) and any network operations in release builds -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="Cash Flex"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Deep Links / App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="cashflex.adzrewards.com"
                    android:pathPrefix="/r"
                     />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <!-- Required for Flutter engine -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        
        <!-- Local apps for user classification - allows checking without QUERY_ALL_PACKAGES permission -->
        <package android:name="com.whatsapp" />
        <package android:name="com.instagram.android" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.phonepe.app" />
        <package android:name="net.one97.paytm" />
        <package android:name="com.fampay.fampay" />
        
        <!-- UPI apps -->
        <package android:name="com.google.android.apps.nfc.payment" />
        <package android:name="com.amazon.mobile.android.payment" />
        <package android:name="com.mobikwik_new" />
        <package android:name="com.freecharge.android" />
        <package android:name="com.airtel.airtel" />
        <package android:name="com.axis.mobile" />
        <package android:name="com.hdfc.smartbuy" />
        <package android:name="com.icici.bank" />
        <package android:name="com.sbi.SBIFreedomPlus" />
        <package android:name="com.bhimupi" />
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.kotak811mobilebankingapp.instantsavingsupiscanandpayrecharge" />
        <package android:name="com.postpe.app" />
    </queries>
</manifest>
